.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    margin: 10px;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(158, 16, 16);
    font-family: Caveat;
    font-size: 24px;
    outline: none;
}

.btnCreate {
    background: none;
    border: none;
    color: #223e6b;
    font-family: Caveat;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.btnCreate:hover {
    color: #0084ff;
}