@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.container {
    max-width: 500px;
    min-height: 800px;
    margin: 20px auto;
    padding: 20px;
    font-family: Caveat;
    box-shadow: 2px 2px 5px 0px #282c34;
    background-color: #ffffff;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: 36px;
}


